*{
margin: 0;
padding: 0;
}
body{
    background-color: #EEE;
    font-family: 'Grandstander', cursive;
}
.container{
    background-color: aqua;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
header{

}
.profile-image{
    width: 130px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
    
}
.header-bio{
    float: left;
    padding:30px;
}
h1,h2,h3,h4,h5,h6{
    color:#0004ff;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
hr{
    border: 2px solid black;
    width: 100% ;
    margin: 20px auto;
    border-bottom: none;
}
/*---------------
Personal section start
------------------*/
.personal-section{

}
.content{
    margin-bottom: 30px;
}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: left;
}
.common-hr{
    border: solid 1px black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
/*---------------
Education section start
------------------*/
.edu-tamplate-left{
    float:left;
    width: 45%;
}

.edu-tamplate-right{
    float: right;
    width: 45%;
}
.edu-tamplate-left a{
    text-decoration: none;
    color:teal;
}
.edu-tamplate-left a:hover{
    text-decoration: underline;
    color: tomato;
}
.edu-tamplate-right a{
    text-decoration: none;
    color:teal;
}
.edu-tamplate-right a:hover{
    text-decoration: underline;
    color: tomato;
}
.ref-left{
    float:left;
    width: 45%;
}
.ref-left{
    float:right;
    width: 50%;
}
.footerclass{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.footerclass a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.footerclass a:hover{
    color:tomato;
    text-decoration: underline;
}
.footerclass p{
    color: white;
    margin-top: 20px;
}